*.class

# Maven/Eclipse artifacts
target/
.classpath
.project
.settings/
.DS_Store
Main_*.java


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/forlang-autopsy/nbproject/private/
/forlang-autopsy/build/